section.about {
   padding: 8% 0;
   .wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      // border: 1px solid red;

      @include breakpoint-900px {
         flex-direction: column;
      }
   }
   .headshot {
      flex-grow: 2;
      flex-shrink: 0;
      width: 20%;
      min-width: 200px;
      // box-shadow: 30px 0px 0px -20px $primary-transparent;
      box-shadow: 55px 0px 0px -35px #888c97;
      @include breakpoint-900px {
         width: 100%;
         // order: -1;
      }
   }
   img {
      // box-shadow: 81px 0px 0px -50px lightgray;
      box-shadow: 30px 0px 0px -20px rgba(55, 63, 82, 0.8);
      max-width: 100%;
   }
   .about-content {
      width: 50%;
      flex-grow: 1;
      flex-shrink: 2;
      padding: 0 2% 0 4%;
      border-right: 2px solid lightgray;
      margin-right: 2%;
      @include breakpoint-900px {
         width: 100%;
         border: none;
         padding: 0;
         margin: 0;
         order: 10;
      }
      // border: 1px solid red;
   }
   h2 {
      width: 14%;
      min-width: 210px;
      flex-grow: 1;
      flex-shrink: 2;
      text-align: right;
      font-weight: 400;
      // border: 1px solid red;
   }
   p {
      font-size: 0.8rem;
      letter-spacing: 0.03rem;
      line-height: 1.1rem;
      // letter-spacing: 1px;
   }
}