html {
   font-size: 125%;
}

.wrapper {
   width: 85%;
   max-width: 1600px;
   margin: 0 auto;
   // position: relative;
   // border: 1px solid red;
}

img {
   max-width: 100%;
   display: block;
}
body {
   position: relative;
}