header {
   background: linear-gradient(to bottom, $primary-transparent, $primary-transparent), url(../assets/ball-court-b&w.jpg) center no-repeat;
   background-size: cover;
   height: 100vh;
   color: $secondary-color;
   font-family: $accent-font;
   .wrapper {
      display: flex;
      flex-direction: column;

   }
   .hamburger {
      width: 70px;
      position: fixed;
      top: 10px;
      right: 4%;
      z-index: 20;
   }
   .hamburger-inner {
      box-shadow: 2px 2px 5px -1px rgba(0,0,0,1);
   }
   .hero-text {
      height: calc(100vh);
      display: flex;
      flex-direction: column;
      justify-content: center;
      // border: 1px solid red;
   }
   h1 {
      text-transform: uppercase;
      color: $accent-color;
      font-size: 6.5vw;
      line-height: 65%;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: -0.25%;
      font-weight: 700;
   }
   h2 {
      margin-top: 0px;
      font-size: 3vw;
      font-weight: 600;
      animation-duration: 3s;
      animation-delay: 2s;
      animation-iteration-count: infinite;
   }
   p {
      margin-top: 0;
      text-transform: uppercase;
      padding-top: 2%;
   }
   span.bo {
      color: $accent-color;
   }

   .show {
      display:none;
   }

   nav {
      animation: fadeInRight 0.7s linear;
      position: fixed;
      // display: none;
      padding-right: 5%;
      right: 0;
      top: 0;
      background: $secondary-transparent;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 10;
   }
   ul {
      list-style-type: none;
      text-align: right;
      text-transform: uppercase;
      // border: 1px solid red;
   }
   ul.navigation {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 25%;
   }
   ul.social-media-icons {
      display: flex;
      justify-content: space-between;
      li {
         transition: $link-transition;
         &:hover, &:focus {
            transform: scale(1.2);
         }
      }
   }
   li {
      transition: $link-transition;
      &:hover, &:focus {
         transform: scale(1.1);
      }
   }
   a {
      text-decoration: none;
      color: #232323;
      &:hover {

      }
   }
}


   