$primary-color: rgba(55, 63, 82, 1);
$primary-transparent: rgba(55, 63, 82, 0.9);
$secondary-color: rgba(255, 255, 255, 1);
$secondary-transparent: rgba(255, 255, 255, 0.8);
$body-font-color: #232323;
$accent-color: rgba(255, 198, 7, 1);
$accent-transparent: rgba(255, 198, 7, 0.8);

$primary-font: 'Raleway', sans-serif;
$accent-font: 'Montserrat', sans-serif;

$link-transition: all 0.2s ease-in-out;

@mixin breakpoint-1115px {
   @media (max-width: 1115px) {
      @content;
   }
}

@mixin breakpoint-900px {
   @media (max-width: 900px) {
      @content;
   }
}

@mixin breakpoint-550px {
   @media (max-width: 550px) {
      @content;
   }
}